<div id="particles-js"></div>
<div id="page-wrapper">
	<div class="home">
		<!-- <% include components/_nav %> -->

		<div id="content" class="wrapper box">
			<hgroup>
				<h1>Page Title</h1>
				<h2>Page Description</h2>
			</hgroup>
			<article id="stick">
				<h2>Article Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipisci</p>
			</article>
			<article>
				<h2>Article Title</h2>
				<p>Morbi malesuada, ante at feugiat tincidunt, enim massa
				gravida metus, commodo lacinia massa diam vel eros.</p>
			</article>
			<div>
				<a href="/">test jQuery</a>
			</div>
			<hr/>
			<form action="/save/">
				<input type="text" name="name" value="Ivan"/>
					<select name="role">
						<option>User</option>
						<option>Admin</option>
					</select>
				<input type="submit"/>
			</form>
			<hr/>
			<footer>
				<p>&copy;copyright 2012</p>
			</footer>
		</div>
	</div>
</div>
